<header class="site-header">
  <div class="header-container">
    <a href="/" class="logo">
      <img src="/assets/img/logo.png" alt="Reebu & Raechu Logo" class="logo-img" />
    </a>
    <div class="header-icons">
      <a href="#" class="icon-btn"><i class="fas fa-search"></i></a>
      <a href="#" class="icon-btn"><i class="fas fa-user"></i></a>
      <a href="#" class="icon-btn"><i class="fas fa-heart"></i></a>
      <a href="#" class="icon-btn"><i class="fas fa-shopping-bag"></i></a>
    </div>
  </div>
</header>
